$sm: 480px;
$md: 720px;
$lg: 1024px;

$heroRowHeight: 500px;

$heroBgColor: rgb(226, 226, 226);
$blue: rgb(0, 141, 234);

body {
  overflow: hidden;
}

.hero {
  overflow: hidden;
  background: $heroBgColor;
  margin: 0 auto;
  height: $heroRowHeight;
  display: flex;
  flex-direction: row;

  .hero--left, .hero--right {
    width: 50%;
    height: 100%;
  }

  .hero--right {
    position: relative;
    background: $heroBgColor;
    z-index: 0;

    .hero--right__woman {
      height: 100%;
      position: absolute;
      top: 0;
      left: -15px;
      transform: scale(1.1);
    }
  }

  .hero--right:after {
    width: 100vw;
    height: 0;
    content: '';
    border-left: 230px solid transparent;
    border-bottom: $heroRowHeight solid $blue;
    border-radius: 500px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media screen and(max-width: $lg) {
    flex-direction: column;
    width: 100%;
    height: $heroRowHeight * 2;

    .hero--left, .hero--right {
      width: 100%;
      height: 100%;
    }

    .hero--right__woman {
      object-fit: cover;
      transform: translateX(0);
    }
  }
}

